            
            <div class="submenu">
                <button class="subbox">2024 IS Workshop <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/2024_IS_Workshop.html' | absolute_url }}">2024 IS Workshop (local page)</a>
                    <a href="https://nimbus.unl.edu/aiaa-istc-workshop">UNL Website with Agenda</a>
                    <!-- <a href="{{ '/IS_Workshop_2024/program.html' | absolute_url }}">Program</a>
                    <a href="{{ '/IS_Workshop_2024/venue.html' | absolute_url }}">Venue</a>
                    <a href="{{ '/IS_Workshop_2024/accommodation.html' | absolute_url }}">Accommodation</a>
                    <a href="{{ '/IS_Workshop_2024/tours.html' | absolute_url }}">Tours</small></a>
                    <a href="{{ '/IS_Workshop_2024/student_competitions.html' | absolute_url }}">Student competitions</a>
                    <a href="{{ '/IS_Workshop_2024/open_mic_session.html' | absolute_url }}">Open mic session</a>
                    <a href="{{ '/IS_Workshop_2024/about.html' | absolute_url }}">About</a> -->
                </div>
            </div>
            
            
