            
            <div class="submenu">
                <button class="subbox">2025 IS Workshop <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/2025_IS_Workshop.html' | absolute_url }}">Home</a>
                    <a href="{{ '/IS_Workshop_2025/program.html' | absolute_url }}">Program</a>
                    <a href="{{ '/IS_Workshop_2025/venue.html' | absolute_url }}">Venue</a>
                    <a href="{{ '/IS_Workshop_2025/accommodation.html' | absolute_url }}">Accommodation</a>
                    <a href="{{ '/IS_Workshop_2025/tours.html' | absolute_url }}">Tours</small></a>
                    <a href="{{ '/IS_Workshop_2025/student_competitions.html' | absolute_url }}">Student competitions</a>
                    <a href="{{ '/IS_Workshop_2025/open_mic_session.html' | absolute_url }}">Open mic session</a>
                    <a href="{{ '/IS_Workshop_2025/about.html' | absolute_url }}">About</a>
                </div>
            </div>
            
            
