            Follow us on: <a href="https://linkedin.com/company/aiaaistc"><img src="https://delivery-p143253-e1476319.adobeaemcloud.com/adobe/assets/urn:aaid:aem:75d8a76e-08d9-4e84-9e10-e87f8d79149d/original/as/brand-inlogo-hero-fg-dsk-v01-2x.png" alt="LinkedIn"</img></a>
            &nbsp;&nbsp;<a href="https://bsky.app/profile/aiaaistc.bsky.social"><img src="https://bsky.social/about/brand-assets/butterfly/bluesky_media_kit_logo_transparent_1.png" alt="Bluesky"</img></a>
            &nbsp;&nbsp;<a href="https://x.com/aiaa_istc"><img src="https://upload.wikimedia.org/wikipedia/commons/0/09/X_%28formerly_Twitter%29_logo_late_2025.svg" alt="Twitter/X"</img></a>
            <!-- | <a href="https://www.facebook.com/groups/1720654964877344/">Facebook Group</a>-->
