            <p><b>Site Content:</b><br>
            <a href="{{ '/' | absolute_url }}">ISTC Home</a><br>
            <a href="{{ '/what_is_an_intelligent_system.html' | absolute_url }}">What is an IS?</a><br>
            <a href="{{ '/IS_roadmap.html' | absolute_url }}">IS Roadmap</a><br>
            &nbsp;&nbsp;<a href="https://drive.google.com/file/d/1MBOWCYNaHiDSr0ALWLyOcq0hDWzn8NSE/view?usp=sharing" alt text="Roadmap for Intelligent Systems in Aerospace/AIAA_Roadmap_for_Intelligent_Systems-v1.0_14Jun2016.pdf">2016 IS Roadmap Document</a><br>
            &nbsp;&nbsp;<a href="https://drive.google.com/file/d/1U-YcX30sbm_nlf76OdrrA1FjU1o_bgsy/view?usp=sharing">2017 Opinion Paper</a><br>
            <a href="IS_Workshops.html">IS Workshops</a><br>
            &nbsp;&nbsp;<a href="{{ '/2022_IS_Workshop.html' | absolute_url }}">2022 IS Workshop</a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/program.html' | absolute_url }}"><small>Program</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/venue.html' | absolute_url }}"><small>Venue</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/accommodation.html' | absolute_url }}"><small>Accommodation</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/tours.html' | absolute_url }}"><small>Tours</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/student_competitions.html' | absolute_url }}"><small>Student competitions</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/open_mic_session.html' | absolute_url }}"><small>Open mic session</small></a><br>
            &nbsp;&nbsp;-- <a href="{{ '/IS_Workshop_2022/about.html' | absolute_url }}"><small>About</small></a><br>
            &nbsp;&nbsp;<a href="{{ '/IS_Workshops.html' | absolute_url }}">Prior IS Workshops (2014-2019)</a><br>
            <a href="{{ '/committee_membership.html' | absolute_url }}">Committee Membership</a><br>
            <a href="{{ '/calendar.html' | absolute_url }}">Calendar</a></br>
            <a href="{{ 'https://drive.google.com/drive/folders/1igg8fREZeceKinZrL2CkWZ4NLCoQL-S9?usp=sharing' | absolute_url }}">Shared Documents (Public)</a><br>
            Older pages:<br>
            &nbsp;&nbsp;<a href="{{ '/IS_award.html' | absolute_url }}">IS Award</a><br>
            &nbsp;&nbsp;<a href="{{ '/public_outreach.html' | absolute_url }}">Public Outreach</a><br>
            &nbsp;&nbsp;<a href="{{ '/old_announcements.html' | absolute_url }}">Old Announcements</a><br>
            &nbsp;&nbsp;<a href="{{ '/newsletter.html' | absolute_url }}">Newsletter (2011-2014)</a><br>
            &nbsp;&nbsp;<a href="{{ '/discussion_board.html' | absolute_url }}">Discussion Board</a><br>
            &nbsp;&nbsp;<a href="{{ '/surveys.html' | absolute_url }}">Surveys</a><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ '/jan_2013_istc_meeting.html' | absolute_url }}"><small>January 2013 ISTC Meeting</small></a>
            </p>
