            <p><b>Chair Information:</b><br>
            Chair<br>
            &nbsp;&nbsp;&nbsp;&nbsp;John Valasek<br>
            Email<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:valasek@tamu.edu">valasek@tamu.edu</a><br>
            Affiliation: Texas A&M
            </p>
            <p><b>ISTC Officers:</b><br>
            Co-chair: <a href="mailto:david.casbeer@live.com">David Casbeer</a><br>
            Chair-elect: <a href="mailto:natasha.a.neogi@nasa.gov">Natasha Neogi</a><br>
            Secretary: <a href="mailto:dselva@tamu.edu">Dani Selva</a><br>
