            <p><b>Chair Information:</b><br>
            Chair<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Natasha Neogi<br>
            Email<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:natasha.a.neogi@nasa.gov">natasha.a.neogi@nasa.gov</a><br>
            Affiliation: NASA Langley
            </p>
            <p><b>ISTC Officers:</b><br>
            Co-chair: <a href="mailto:valasek@tamu.edu">John Valasek</a><br>
            Chair-elect: <a href="mailto:justin.bradley@unl.edu">Justin Bradley</a><br>
            Secretary: <a href="mailto:kerianne.hobbs@afrl.af.mil">Kerianne Hobbs</a><br>
