            <!-- <a href="#home">Home</a>
            <a href="#news">News</a>
            <div class="submenu">
                <button class="subbox">More
                    <i class="fa f-caret-down"></i>
                </button>
                <div class="submenu-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div> -->
            <a href="{{ '/' | absolute_url }}">ISTC Home</a>
            <div class="submenu">
                <button class="subbox">About <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/what_is_an_intelligent_system.html' | absolute_url }}">What is an IS?</a>
                    <a href="{{ '/mission.html' | absolute_url }}">Our Mission</a>
                    <a href="{{ '/committee_membership.html' | absolute_url }}">Membership</a>
                    <a href="{{ '/gallery.html' | absolute_url }}">Gallery</a>
                </div>
            </div>
            
            <div class="submenu">
                <button class="subbox">Events <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/IS_Technical_Seminar_Series.html' | absolute_url }}">IS Technical Seminar Series</a>

                    <!--<div class="submenu">
                        <button class="subbox">--><a href="{{ '/IS_Workshops.html' | absolute_url }}">IS Workshops</a> <!--<div class="caret"></div>
                        </button>
                        <div class="submenu-content">-->
                            <a href="{{ '/2024_IS_Workshop.html' | absolute_url }}">&rarr; 2024 IS Workshop</a>
                            <a href="{{ '/IS_Workshops.html' | absolute_url }}">&rarr; Prior IS Workshops (2014-19,'23)</a>
                        <!--</div>
                    </div>-->
                </div>
            </div>
            
            <div class="submenu">
                <button class="subbox">Documents <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/IS_roadmap.html' | absolute_url }}">IS Roadmap</a>
                    <a href="https://drive.google.com/file/d/1MBOWCYNaHiDSr0ALWLyOcq0hDWzn8NSE/view?usp=sharing" alt text="Roadmap for Intelligent Systems in Aerospace/AIAA_Roadmap_for_Intelligent_Systems-v1.0_14Jun2016.pdf">&rarr; 2016 IS Roadmap Document</a>
                    <a href="https://drive.google.com/file/d/1U-YcX30sbm_nlf76OdrrA1FjU1o_bgsy/view?usp=sharing">&rarr; 2017 Opinion Paper</a>
                    <a href="{{ 'https://drive.google.com/drive/folders/1igg8fREZeceKinZrL2CkWZ4NLCoQL-S9?usp=sharing' | absolute_url }}">Shared Documents (Public)</a>
                </div>
            </div>
            
            <div class="submenu">
                <button class="subbox">Older Pages <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/announcements.html' | absolute_url }}">Old Announcements</a>
                    <a href="{{ '/old_announcements.html' | absolute_url }}">(Very) Old Announcements</a>
                    <a href="{{ '/calendar.html' | absolute_url }}">Event Calendar (public)</a>
                    <a href="{{ '/IS_award.html' | absolute_url }}">IS Award</a>
                    <a href="{{ '/public_outreach.html' | absolute_url }}">Public Outreach</a>
                    <a href="{{ '/newsletter.html' | absolute_url }}">Newsletter (2011-2014)</a>
                    <a href="{{ '/discussion_board.html' | absolute_url }}">Discussion Board</a>
                    <a href="{{ '/surveys.html' | absolute_url }}">Surveys</a>
                    <a href="{{ '/jan_2013_istc_meeting.html' | absolute_url }}">&rarr; January 2013 ISTC Meeting</a>
                </div>
            </div>
