            
            <div class="submenu">
                <button class="subbox">Documents <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/IS_roadmap.html' | absolute_url }}">IS Roadmap</a>
                    <a href="https://drive.google.com/file/d/1MBOWCYNaHiDSr0ALWLyOcq0hDWzn8NSE/view?usp=sharing" alt text="Roadmap for Intelligent Systems in Aerospace/AIAA_Roadmap_for_Intelligent_Systems-v1.0_14Jun2016.pdf">&rarr; 2016 IS Roadmap Document</a>
                    <a href="https://drive.google.com/file/d/1U-YcX30sbm_nlf76OdrrA1FjU1o_bgsy/view?usp=sharing">&rarr; 2017 Opinion Paper</a>
                    <a href="{{ 'https://drive.google.com/drive/folders/1igg8fREZeceKinZrL2CkWZ4NLCoQL-S9?usp=sharing' | absolute_url }}">Shared Documents (Public)</a>
                </div>
            </div>
            
            <div class="submenu">
                <button class="subbox">Older Pages <div class="caret"></div>
                </button>
                <div class="submenu-content">
                    <a href="{{ '/announcements.html' | absolute_url }}">Old Announcements</a>
                    <a href="{{ '/IS_award.html' | absolute_url }}">IS Award</a>
                    <a href="{{ '/public_outreach.html' | absolute_url }}">Public Outreach</a>
                </div>
            </div>
