<!DOCTYPE html>
<!-- copied from https://github.com/pages-themes/architect/blob/master/_layouts/default.html on 2018-09-13-->
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>-->
          <h1>AIAA Intelligent Systems Technical Committee</h1>
          <h2>AIAA ISTC Website on Github Pages</h2>
        </a>
        <!--<h2>{{ site.description | default: site.github.project_tagline }}</h2>-->
        <!--
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        -->
        <!-- apparently github thinks it's this
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
        -->
          <a href="{{ '/' | absolute_url }}" class="button"><img src="{{ '/images/ISTC_logo_small.gif' | relative_url }}" alt="ISTC logo"></a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <p>The AIAA Intelligent Systems Technical Committee (ISTC) is concerned with the application of Intelligent System (IS) technologies and methods to aerospace systems, the verification and validation of these systems, and the education of the AIAA membership in the use of IS technologies in aerospace and other technical disciplines.</p>
          <hr>
          <!-- <iframe src="https://calendar.google.com/calendar/embed?src=aiaa.istc%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" --><!-- /iframe -->
          <iframe src="https://calendar.google.com/calendar/embed?src=aiaa.istc%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="533" height="400" frameborder="0" scrolling="no"></iframe>
          {{ content }}
        </section>

        <aside id="sidebar">
            <p><b>Chair Information:</b><br>
            Chair<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Elad Kivelevitch<br>
            Email<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:elad.kivelevitch@gmail.com">elad.kivelevitch@gmail.com</a><br>
            Affiliation: MathWorks
            </p>
            <p><b>ISTC Officers:</b><br>
            Co-chair: <a href="mailto:david.casbeer@live.com">David Casbeer</a><br>
            Chair-elect: <a href="mailto:valasek@tamu.edu">John Valasek</a><br>
            Secretary: <a href="mailto:dselva@tamu.edu">Dani Selva</a><br>
            <img src="{{ '/images/ISTC_logo_small.gif' | relative_url }}" alt="ISTC logo"><br>
            Join our Facebook Group! <a href="https://www.facebook.com/groups/1720654964877344/">https://www.facebook.com/groups/1720654964877344/</a>
            </p>
            {% include nav.html %}
            <p><b>ISTC Gallery:</b><br>
            <img src="{{ '/images/thumbnails/engine_jpg.jpg' | relative_url }}" alt="engine"> <a href="{{ '/images/engine.jpg' | relative_url }}">engine</a> -- 9/9/2010 12:00PM<br>
            <img src="{{ '/images/thumbnails/TC field trip to JPL_JPG.jpg' | relative_url }}" alt="TC field trip to JPL"> <a href="{{ '/images/TC field trip to JPL.JPG' | relative_url }}">TC field trip to JPL</a> -- 7/15/2008 12:00AM<br>
            <img src="{{ '/images/thumbnails/Steve Chien receiving 2011 AIAA Intelligent Systems Award_jpg.jpg' | relative_url }}" alt="Steve Chien receiving 2011 AIAA Intelligent Systems Award"> <a href="{{ '/images/Steve Chien receiving 2011 AIAA Intelligent Systems Award.jpg' | relative_url }}">Steven Chien receiving 2011 AIAA Intelligent Systems Award</a> -- 3/3/2011 12:00AM<br>
            
            </p>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
